include head.pug
.container
  .starter-template
    h1 Money-Chain
  .row
    .col-md-2
    .col-md-10
      a.btn.btn-lg.btn-primary(href='openaccount.html', role='button') Open Account
  br
  .row
    .col-md-2
    .col-md-10
      a.btn.btn-lg.btn-primary(href='checkbalance.html', role='button') Check Balance
  br
  .row
    .col-md-2
    .col-md-10
      a.btn.btn-lg.btn-primary(href='transferfunds.html', role='button') Transfer Funds
// /.container
include foot.pug